body {
    background-color: #f4f6f9;
    font-family: 'Segoe UI', sans-serif;
    overflow-x: hidden;
}

.main-content {
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
    }
}